*.class
*~

# Code::Blocks files #
*.depend
*.layout

# Eclipse files #
.classpath
.project
.cproject
.settings
.metadata
.recommenders
.externalToolBuilders
.pydevproject
__pycache__

# Intelli J files #
.idea/*
out/*
*.iml

# Package Files #
*.war
*.ear

# Misc #
Oracle/*.facts
Lua/saves
