[Desktop Entry]
Version=3
Type=Application
Terminal=true
StartupNotify=true
Name=Usydcon
Comment=Connect to uni
Exec=/home/scyptnex/bin/usydcon
Categories=Application;

