body {
    padding-left: 20%;
    padding-right: 20%;
    color: #BBBBBB;
    background-color: #222222;
    font-family: sans-serif
}

div.nav {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 30%;
}

a:link {
    color: #CCFF99
}

a:visited {
    color: #778855
}

h1,h2,h3,h4,h5,h6 {
    color: #CCFF99
}

/*ul ul {
    background-color: #FFFFFF
}*/
